@model List<BookingVM>

@{
    ViewData["Title"] = "Booking List";
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient mt-0 py-3">
        <h4 class="text-center text-white mb-0">Booking List</h4>
    </div>
    <div class="card-body p-4">

        <div class="row pb-3 ">
            <div class="col-6">
            </div>

            <div class="col-6 text-end">

                <a asp-controller="Bookings" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Category
                </a>

            </div>
        </div>
        

        <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th class="text-center small">Booking ID</th>
                        <th class="text-center small">Booking Date</th>
                        <th class="text-center small">Booking Time</th>
                        <th class="text-center small">Table Number</th>
                        <th class="text-center small">Number of Guests</th>
                        <th class="text-center small">User ID</th>
                        <th class="text-center small">Name</th>
                        <th class="text-center small">Phone</th>
                        <th class="text-center small">Email</th>
                        <th class="text-center small">Status</th>
                        <th class="text-center small">Action</th>
                    </tr>
                </thead>
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.BookingId</td>
                            <td>@item.BookingDate</td>
                            <td>@item.BookingTime</td>
                            <td>@item.TableNumber</td>
                            <td>@item.NumberOfGuests</td>
                            <td>@item.ApplicationUserId</td>
                            <td>@item.Name</td>
                            <td>@item.Phone</td>
                            <td>@item.Email</td>
                            <td>@item.BookingStatus</td>
                            <td>
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="Bookings" asp-action="Upsert" asp-route-id="@item.BookingId" class="btn btn-primary mx-2">
                                        <i class="bi bi-pencil-square"></i> Edit
                                    </a>
                                    <a asp-controller="Bookings" asp-action="Delete" asp-route-id="@item.BookingId" class="btn btn-danger mx-2">
                                        <i class="bi bi-trash-fill"></i> Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="11" class="text-center">No data available.</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>