@model IEnumerable<RestaurantViewModels.MyBookingsVM>

@{
    ViewData["Title"] = "My Bookings";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient mt-0 py-3">
        <h4 class="text-center text-white mb-0">My Bookings</h4>
    </div>
    <div class="card-body p-4">
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped text-center" width="100%">
                <thead class="table-dark">
                    <tr>
                        <th class="text-center small">Booking Date</th>
                        <th class="text-center small">Booking Time</th>
                        <th class="text-center small">Table Number</th>
                        <th class="text-center small">Number of Guests</th>
                        <th class="text-center small">Status</th>
                        <th class="text-center small">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var item in Model.OrderBy(b => b.BookingDate))
                        {
                            <tr>
                                <td>@item.BookingDate.ToString("yyyy-MM-dd")</td>
                                <td>@item.BookingTime</td>
                                <td>@item.TableNumber</td>
                                <td>@item.NumberOfGuests</td>
                                <td>@item.BookingStatus</td>
                                <td>
                                    <div class="w-75 btn-group" role="group">
                                        @if (item.BookingStatus==BookingStatus.Active)
                                        {
                                            <a asp-controller="CustomerBookings"
                                               asp-action="ConfirmCancelBooking"
                                               asp-route-bookingId="@item.BookingId"
                                               class="btn btn-danger mx-2">
                                                <i class="bi bi-trash-fill"></i> Cancel
                                            </a>
                                        }
                                        else
                                        {
                                            <button class="btn btn-secondary mx-2" disabled>
                                                <i class="bi bi-trash-fill"></i> Cancel
                                            </button>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="text-center">No bookings found.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
